body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
    background-color: rgb(248, 248, 248);
} 

@media (max-width: 500px) { /* CSS rules for screens with a maximum width of 500px */
    .wrapper{
        display: flex;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 85vw;
    }
  }

.wrapper {
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.calculator-container {
    box-sizing: border-box;
    width: 100%;
    height:580px;
    box-shadow: 0 0 0 3px black;
    border: 10px solid rgb(173, 171, 158);
    border-radius: 40px;
    background-color: rgb(173, 171, 158);
}


.display-container {
    display: flex;
    flex-direction: column;
    align-items:  center;
    height: 30%;
}

.sub-display-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    height: 40%;
    border-radius: 10px;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    background-color: rgb(131,183,153);
}

.sub-display{
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    word-wrap: break-word;
    overflow: auto;
    width: 95%;
    height: 90%;
    font-family: 'Quicksand', sans-serif;
}

.sub-display-style {
    font-size: 38px;
}

.main-display-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 60%;
    border-top: 10px solid rgb(173, 171, 158);
    border-bottom: 10px solid rgb(173, 171, 158);
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    background-color: rgb(131,183,153);
}

.main-display {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    align-items: end;
    word-wrap: break-word;
    overflow: auto;
    width: 95%;
    height: 90%;
    font-family: 'Quicksand', sans-serif;

}

.main-display-style {
    font-size: 45px;
}

.sub-display::-webkit-scrollbar,
.main-display::-webkit-scrollbar {
  height: 7px; /* Height of the scrollbar */
}

.sub-display::-webkit-scrollbar-thumb,
.main-display::-webkit-scrollbar-thumb {
  background-color: rgb(199,200,166); /* Color of the scrollbar thumb */
  border-radius: 40px;
}

.sub-display::-webkit-scrollbar-thumb:hover,
.main-display::-webkit-scrollbar-thumb:hover{
  background-color: rgb(255,152,41) /* Color of the scrollbar thumb on hover */
}


.keypad {
    display: grid;
    display: -webkit-grid; /* safari prefix */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height:70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgb(199,200,166);
}

.backspace {
    border-radius: 10px;
    cursor:pointer;
    background-color: rgb(255,152,41);
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}

.clear {
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}

.plus-minus {
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}

#zero {
    border-bottom-left-radius: 40px;
    cursor:pointer;
}

.point {
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}

.operate {
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}

.operator {
    border-radius: 10px;
    cursor:pointer;
    background-color: rgb(184,185,180);
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}

#add {
    grid-column: 4/5;
    grid-row: 4/6;
    border-bottom-right-radius: 40px;
    background-color: rgb(255,152,41);
}

.number-btn {
    border-radius: 10px;
    cursor:pointer;
    background-color: rgb(235,232,224);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: black;
}

footer{

    margin: 1%;
}

.my-git-link {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
}
