body {
    margin-top: 1.5%;
    background-color: rgb(248, 248, 248);
} 

.wrapper {
    display: flex;
    justify-content: center;
}

.calculator-container {
    width: 330px;
    margin: 0 auto;
    border: 12px solid rgb(173, 171, 158);
    box-shadow: 0 0 0 3px black;
    border-radius: 40px;
    background-color: rgb(199,200,166);
}

.display-container {
    display: grid;
    height: 180px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(173, 171, 158);
}

.sub-display{
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    overflow: auto;
    height: 60px;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    background-color: rgb(131,183,153);
    font-family: 'Quicksand', sans-serif;
}

.sub-display-style {
    font-size: 38px;
}

.main-display {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    align-items: end;
    word-wrap: break-word;
    overflow: auto;
    height: 100px;
    border-radius: 10px;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    background-color: rgb(131,183,153);
    font-family: 'Quicksand', sans-serif;

}

.main-display-style {
    font-size: 45px;
}

.sub-display::-webkit-scrollbar,
.main-display::-webkit-scrollbar {
  height: 7px; /* Height of the scrollbar */
}

.sub-display::-webkit-scrollbar-thumb,
.main-display::-webkit-scrollbar-thumb {
  background-color: rgb(199,200,166); /* Color of the scrollbar thumb */
  border-radius: 40px;
}

.sub-display::-webkit-scrollbar-thumb:hover,
.main-display::-webkit-scrollbar-thumb:hover{
  background-color: rgb(255,152,41) /* Color of the scrollbar thumb on hover */
}


.keypad {
    display: grid;
    height: 400px;
    grid-template: 
        'backspace clear plus-minus divide'
        'seven eight nine multiply'
        'four five six subtract'
        'one two three add'
        'zero decimal equals add';
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
    background-color: rgb(199,200,166);
}

.backspace {
    border-radius: 10px;
    cursor:pointer;
    background-color: rgb(255,152,41);
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.clear {
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.plus-minus {
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
    color: black;
}

#zero {
    border-bottom-left-radius: 40px;
    cursor:pointer;
}

.decimal {
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}

.operate {
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}

.operator {
    border-radius: 10px;
    cursor:pointer;
    background-color: rgb(184,185,180);
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: black;
}


#add {
    border-bottom-right-radius: 40px;
    background-color: rgb(255,152,41);
}

.number-btn {
    border-radius: 10px;
    cursor:pointer;
    background-color: rgb(235,232,224);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: black;
}

/*number position in grid*/

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}

#decimal {
    grid-area: decimal;
}

#backspace {
    grid-area: backspace;
}

#clear {
    grid-area: clear;
}

#plus-minus {
    grid-area: plus-minus;
}

#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiply;
}

#subtract {
    grid-area: subtract;
}

#add {
    grid-area: add;
}

#equals {
    grid-area: equals;
}

footer{
    display: flex;
    justify-content: center;
    margin: 1%;
}

.my-git-link {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
}
